{%- assign blog = blogs[section.settings.news_list] -%}

<div id="section-news-list">
  <div class="container2">
    <div class="news-list-main-heading">
      <span class="pr-main">PR</span>
    </div>
      <ul class="news-list-main">
        {% for article in blog.articles limit: section.settings.post_limit %}
        	<li class="news-list-main-item">
              <a href="{{ article.url }}">
                <div class="news-list-main-info">
                  {% if section.settings.news_list_date %}
                    <span class="news-list-main-date">{{ article.published_at | date: "%Y &frasl; %m &frasl; %d" }}</span>
                  {% endif %}
                </div>
                <div class="news-list-main-title">{{ article.title }}</div>
              </a>
        	</li>
        {% endfor %}
      </ul>
  </div>
</div>

{% schema %}
{
  "name": "ブログメイン",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "見出し",
      "default": "お知らせ一覧"
    },
    {
      "id": "news_list",
      "type": "blog",
      "label": "表示するブログ記事を選択"
    },
    {
      "id": "post_limit",
      "type": "range",
      "label": "表示数を選択",
      "min": 3,
      "max": 300,
      "step": 3,
      "default": 3
    },
    {
      "id": "news_list_date",
      "type": "checkbox",
      "label": "日付を表示する",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "ブログメイン",
      "category": "ブログメイン"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  @media (min-width: 1450px) {
    
    #section-news-list .news-list-main-title{
      width:70vw;
    }
    
  }

  @media (max-width: 1449px) {
    
    #section-news-list .news-list-main-title{
      width:50vw;
    }
    
  }

  @media (max-width: 1170px) {
    
    #section-news-list .news-list-main-title{
      width:35vw;
    }
    
  }

  @media (max-width: 849px) {
    
    #section-news-list .news-list-main-title{
      width:95%;
    }
    
  }


  
   @media (min-width: 850px) {
     
      .container2 {
        display:flex;
        border-bottom: solid 1px black;
      }

      .pr-main {
        font-size:36px;
        padding:20px 0;
      }

      .news-list-main-heading {
        margin-left:83px;
        padding-right: 213px;
        border-right: solid 1px black;
      }

     .news-list-main {
      list-style-type: none;
      padding-left:83px;
     }

    #section-news-list .news-list-main-date{
      font-size: 16px;
      margin-right: 15px;
    }

    #section-news-list .news-list-main-title{
      font-size: 20px;
      margin-top:10px;
      margin-bottom: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
    }

    #section-news-list .news-list-main-item>a {
      
    }

    #section-news-list .news-list-main {
      list-style-type: none;
      margin-left:0px;
      margin-top:0px;
      margin-bottom:0px;
      padding-left: 0px;
    }

    #section-news-list .news-list-main-item {
      padding:46px 0px;
      width:100vw;
      border-bottom: solid 1px black;
      padding-left: 96px;
    }

    #section-news-list .news-list-main-item>a{
      display: flex;
      padding: 30px 0;
      flex-direction: column;
    }
  }

   @media (max-width: 849px) {

     #section-news-list .news-list-main {
        list-style-type: none;
        margin-left:0px;
        margin-top:0px;
        margin-bottom:0px;
        padding-left: 0px;
      }

    #section-news-list .news-list-main-item {
      border-bottom:solid 1px black;
    }
     
      .container2 {
        display:flex;
        flex-direction: column;
      }

      .pr-main {
        font-size:20px;
        
      }

      .news-list-main-heading {
        padding-left: 18px;
        padding-top: 24px;
        padding-bottom: 24px;
        border-bottom:solid 1px black;
      }

     .news-list-main {
       list-style-type: none;
       padding-left:43px;
     }

     #section-news-list .news-list-date-main{
      font-size: 14px;
      margin-right: 15px;
      
     }

     #section-news-list .news-list-main-title{
      font-size: 16px;
      margin-bottom: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      padding-top:13px;
      
     }

     #section-news-list .news-list-main-item>a{
      display: flex;
      padding-top: 30px;
      padding-bottom:30px;
      padding-left:21px;
      flex-direction: column;
     }
      
   }
  
  
  #section-news-list .news-list-main-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  #section-news-list .news-list-main-item:last-child{
    border-bottom: none;
  }

  #section-news-list .news-list-main-category{
    font-size: 10px;
    color: #fff;
    background: #000;
    padding: 15px;
    margin-right: 15px;
  }
  #section-news-list .news-list-main-info{
    padding-right:15px;
  }
  
  @media screen and (max-width: 768px){
    #section-news-list .container{
      padding: 35px 20px;
    }
    #section-news-list .news-list-main-item>a{
      /* display: block;
      padding: 15px; */
    }

  }

  .news-list-main-item a:hover {
    text-decoration:underline;
    border-bottom:none;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}