{%- assign blog = blogs[section.settings.news_list] -%}
{%- liquid
    assign is_featured_product = true
    assign product = all_products[section.settings.product]
  -%}

<div class="toparea">
  <div class="imagearea">
    <img class="gazou" src="https://min-chi.material.jp/mc/materials/background-c/residential_street/_residential_street_1.jpg">
  </div>
  <div class="productmaintitle">
    <div class="productbrand">
      <a href="">#2　白百合</a>
    </div>
    <div class="productname">
      <a  href="">黒麹菌アワモリ株100％</a>
    </div>
  </div>
  
</div>

<div class="lpproductcontena">
  <div class="lpproductheading">
      <span class="lpproducttitle">PRODUCTS</span>
  </div>
  <div class="mainproductinfo">
    <div class="nametitle">
      <div class="producttitle">
        #2　黒麹菌アワモリ株100％
      </div>
      <div class="brandname">
        白百合 shirayuri
      </div>
      <div class="alc">
        ALC. 44%
      </div>
      <div class="capacity">
         容量：720ml
      </div>
    </div>
    <div class="maincompany">
      <div class="company">
        株式会社池原酒造 
      </div>
      <div class="made">
        製造者：池原 優
      </div>
    </div>
    
  </div>
  <div class="subproductinfo">
      酵母菌株 ：　泡盛101号酵母<br>
      黒麹菌種　：　アワモリ株100％<br>
      浸漬時間 　：　480分<br>
      もろみ発酵日数　：　25日<br>
      もろみ温度 製麹日数　：　20度 <br>
      汲水歩合　：　3日<br>
      蒸留器形式　：　180％<br>
      末垂アルコール濃度　：　地釜式蒸留器（常圧）<br>
      蒸留後アルコール濃度　：　18度 53度<br>
  </div>
</div>

<div class="lpstorycontena">
  <div class="lpstoryheading">
      <span class="lpstorytitle">STORY</span>
  </div>
  <div class="storycontent">
    <div class="catchcopy">
      キャッチコピーが入ります。キャッチコピーが入ります。キャッチコピーが入ります。
    </div>
    <div class="storytext">
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      テキストが入ります。テキストが入ります。 テキストが入ります。テキストが入ります。テキストが入ります。
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      テキストが入ります。テキストが入ります。テキストが
    </div>
    <div class="contentimage">
      <img class="contentimage" src="https://min-chi.material.jp/mc/materials/background-c/residential_street/_residential_street_1.jpg">
    </div>
    <div class="storytext">
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      テキストが入ります。テキストが入ります。 テキストが入ります。テキストが入ります。テキストが入ります。
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      テキストが入ります。テキストが入ります。テキストが
    </div>
    <div class="contentimage">
      <img class="contentimage" src="https://min-chi.material.jp/mc/materials/background-c/residential_street/_residential_street_1.jpg">
    </div>
    <div class="catchcopy">
      キャッチコピーが入ります。キャッチコピーが入ります。キャッチコピーが入ります。
    </div>
    <div class="storytext">
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
    </div>
    <div class="storytext">
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      テキストが入ります。テキストが入ります。 テキストが入ります。テキストが入ります。テキストが入ります。
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      テキストが入ります。テキストが入ります。テキストが
    </div>
    <div class="contentimage">
      <img class="contentimage" src="https://min-chi.material.jp/mc/materials/background-c/residential_street/_residential_street_1.jpg">
    </div>
  </div>
</div>

<div class="lpvoicecontena">
  <div class="lpvoiceheading">
      <span class="lpvoicetitle">VOICE</span>
  </div>
  <div class="voicecontent">
    <div class="squeaimage">
      <img class="squeaimage" src="https://min-chi.material.jp/mc/materials/background-c/residential_street/_residential_street_1.jpg">
    </div>
    <div class="voicetext">
      製造者のコメントが入ります。製造者のコメントが入ります。製 造者のコメントが入ります。
      製造者のコメントが入ります。製造 者のコメントが入ります。製造者のコメントが入ります。
      製造者 のコメントが入ります。製造者のコメントが入ります。 製造者のコメントが入ります。
      製造者のコメントが入ります。製 造者のコメントが入ります。製造者のコメントが入ります。
      製造 者のコメントが入ります。 製造者のコメントが入ります。製造者のコメントが入ります。
      製 造者のコメントが入ります。製造者のコメントが入ります。製造
    </div>
  </div>
</div>

<div class="lpcommentcontena">
  <div class="lpcommentheading">
      <span class="lpcommenttitle">SCIENTIST’S<br>COMMENT</span>
  </div>
  <div class="commentcontent">
    <div class="squeaimage">
      <img class="squeaimage" src="https://min-chi.material.jp/mc/materials/background-c/residential_street/_residential_street_1.jpg">
    </div>
    <div class="commenttext">
      製造者のコメントが入ります。製造者のコメントが入ります。製 造者のコメントが入ります。
      製造者のコメントが入ります。製造 者のコメントが入ります。製造者のコメントが入ります。
      製造者 のコメントが入ります。製造者のコメントが入ります。 製造者のコメントが入ります。
      製造者のコメントが入ります。製 造者のコメントが入ります。製造者のコメントが入ります。
      製造 者のコメントが入ります。 製造者のコメントが入ります。製造者のコメントが入ります。
      製 造者のコメントが入ります。製造者のコメントが入ります。製造
    </div>
  </div>
</div>

<div class="lpdistillerycontena">
  <div class="lpdistilleryheading">
      <span class="lpdistillerytitle">DISTILLERY</span>
  </div>
  <div class="distillerycontent">
    <div class="squeaimage">
      <img class="squeaimage" src="https://min-chi.material.jp/mc/materials/background-c/residential_street/_residential_street_1.jpg">
    </div>
    <div class="distillerytextbox">
      <div class="distillerytext">
        製造者のコメントが入ります。製造者のコメントが入ります。製 造者のコメントが入ります。
        製造者のコメントが入ります。製造 者のコメントが入ります。製造者のコメントが入ります。
        製造者 のコメントが入ります。製造者のコメントが入ります。 製造者のコメントが入ります。
        製造者のコメントが入ります。製 造者のコメントが入ります。製造者のコメントが入ります。
      </div>
      <div class="distilleryaddres">
        株式会社池原酒造<br>
        〒907-0022 沖縄県石垣市字大川175　MAP ＞ <br>
        T EL：0980-82-2230 <br>
        WEB：https://shirayuri-ikehara.com/<br>
      </div>
  </div>
</div>

<style>

  .gazou {
      width:1025px;
      height:500px;
    }

   .toparea {
     display:flex;
     align-items: center;
   }

   .productbrand {
     font-size:36px;
     margin-bottom:25px;
   }

   .productname {
     font-size:18px;
   }

   .productmaintitle {
     margin-left:42px;
   }

   .toparea {
     border-bottom:solid 1px black;
   }

  .lpproductcontena {
    display:flex;
    border-bottom:solid 1px black;
  }

  .lpproducttitle {
    font-size:36px;
  }

  .lpproductheading {
    margin-left:90.75px;
    margin-top:42.5px;
    padding-right:42.5px;
    
  }

  .mainproductinfo {
    display:flex;
    flex-direction: column;
    padding-top:50px;
    border-left:solid 1px black;
    width: 60%;
    border-right:solid 1px black;
  }

  .producttitle {
    font-size:22px;
    margin-bottom:16px;
    padding-left:50px;
  }

  .brandname {
    font-size:18px;
    margin-bottom:18px;
    padding-left:50px;
  }

  .alc,.capacity {
    font-size:16px;
    padding-left:50px;
  }

  .capacity {
    padding-bottom:40px;
  }

  .nametitle {
    border-bottom:solid 1px black;
  }

  .maincompany {
    padding-left:50px;
    padding-top:40px;
    padding-bottom:40px;
  }

  .subproductinfo {
    width: 50%;
    padding: 50px;
    margin: auto;
  }

  .lpstorycontena {
    display:flex;
    border-bottom:solid 1px black;
  }

  .lpstorytitle {
    font-size:36px;
  }

  .lpstoryheading {
    padding-left:90.75px;
    padding-top:42.5px;
    padding-right:116.5px;
    border-right:solid 1px black;
    
  }

  .storycontent {
    width:70%;
    margin:0 auto;
    padding-top:40px;
    display:flex;
    flex-direction: column;
    padding-bottom:40px;
  }

  .catchcopy {
    padding:40px 0;
    font-size:24px;
  }

  .storytext {
    font-size:16px;
    padding:20px 0;
  }

  .contentimage {
    width:100%;
  }

  .voicecontent {
    display:flex;
    width: 70%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .lpvoicecontena {
    display:flex;
    border-bottom:solid 1px black;
  }

  .lpvoicetitle {
    font-size:36px;
  }

  .lpvoiceheading {
    padding-left:90.75px;
    padding-top:42.5px;
    padding-right:129.5px;
    border-right:solid 1px black;
    
  }

  .squeaimage {
    max-width: 330px;
    height: 330px;
  }

  .voicetext {
    padding-left: 40px;
  }

  .lpcommentcontena {
    display:flex;
    border-bottom:solid 1px black;
  }

  .lpcommenttitle {
    font-size:36px;
  }

  .lpcommentheading {
    padding-left:90.75px;
    padding-top:42.5px;
    padding-right:26.5px;
    border-right:solid 1px black;
    
  }

  .commentcontent {
    display:flex;
    width: 70%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .commenttext {
    padding-left: 40px;
  }

  .lpdistillerycontena {
    display:flex;
    border-bottom:solid 1px black;
  }

  .lpdistillerytitle {
    font-size:36px;
  }

  .lpdistilleryheading {
    padding-left:90.75px;
    padding-top:42.5px;
    padding-right:40.5px;
    border-right:solid 1px black;
    
  }

  .distillerycontent {
    display:flex;
    width: 70%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .distillerytext {
    padding-left: 40px;
    padding-bottom:40px;
  }

  .distilleryaddres{
    font-size: 18px;
    line-height: 40px;
    padding-left: 50px;
  }

  .distillerytextbox {
    display:flex;
    flex-direction: column;
  }

  

  
</style>

{% schema %}
{
  "name": "LPプロダクトセクション",
  "settings": [
    {
      "id": "brandname",
      "type": "text",
      "label": "PRODUCTS ブランド名称",
      "default": "テスト商店"
    },
    {
      "id": "mades",
      "type": "text",
      "label": "PRODUCTS 製造者",
      "default": "川崎太郎"
    },
    {
      "id": "subinfos",
      "type": "textarea",
      "label": "PRODUCTS 商品詳細",
      "default": "テスト"
    },
    {
          "type": "product",
          "id": "productitem",
          "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "LPプロダクトセクション",
      "category": "プロダクト"
    }
  ]
}
{% endschema %}



{% javascript %}
{% endjavascript %}