@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/destyle.css@4.0.0/destyle.min.css");
#lp-foamee {
  font-size: min(0.926vw, 16px);
  font-family: "M PLUS 1", serif;
  font-weight: 500;
  line-height: 1.56;
  color: #231F20;
  letter-spacing: 1.12px;
}

/* キービジュアル
-------------------------------------------------- */
.l-kv {
  position: relative;
}

.l-kv__in {
  display: flex;
  justify-content: space-between;
  height: min(53.241vw, 920px);
}

.l-kv__in__content {
  width: min(36.458vw, 630px);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: min(0.579vw, 10px);
  background-color: #F2E85E;
}
.l-kv__in__content .e-logo {
  width: min(15.336vw, 265px);
}
.l-kv__in__content .e-text {
  font-size: min(1.852vw, 32px);
  font-weight: 900;
}
.l-kv__in__content .e-img {
  width: min(25.463vw, 440px);
  margin-top: min(1.157vw, 20px);
}

.l-kv__in__img {
  flex: 1;
}
.l-kv__in__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.l-kv__deco {
  position: absolute;
  left: 0;
  bottom: 0;
}
.l-kv__deco img {
  width: 100%;
}

/* セクション 01
-------------------------------------------------- */
.section-01 {
  background-color: #F2EEB6;
  padding: 150px 0 90px;
}

.section-01__in {
  max-width: min(65.683vw, 1135px);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 0 min(3.241vw, 56px);
}

.section-01__in__img {
  width: min(23.148vw, 400px);
}

.section-01__in__content {
  flex: 1;
  padding-top: min(6.366vw, 110px);
}
.section-01__in__content .e-heading h2 {
  display: flex;
  align-items: center;
  gap: 0 min(0.579vw, 10px);
}
.section-01__in__content .e-heading h2 span {
  font-size: min(1.273vw, 22px);
  font-weight: 700;
}
.section-01__in__content .e-heading h2::after {
  content: "";
  border-top: 2px solid #594F4F;
}
.section-01__in__content .e-heading div {
  display: inline-block;
  font-size: min(0.694vw, 12px);
  line-height: 1;
  background-color: #594F4F;
  color: #F2EEB6;
  padding: min(0.231vw, 4px);
}
.section-01__in__content .e-text {
  margin-top: min(2.315vw, 40px);
}

.section-01__button {
  text-align: center;
  margin-top: min(4.63vw, 80px);
}
.section-01__button a {
  background-color: #FFF000;
  color: #231F20;
  border-radius: 100px;
  width: min(25.116vw, 434px);
  height: min(5.208vw, 90px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 min(0.347vw, 6px);
  font-size: min(1.389vw, 24px);
}
.section-01__button a img {
  width: min(1.331vw, 23px);
}

/* セクション 02
-------------------------------------------------- */
.section-02 {
  background-color: #594F4F;
  padding: min(12.153vw, 210px) 0 min(9.259vw, 160px);
}

.section-02__in {
  max-width: min(65.683vw, 1135px);
}
.section-02__in .e-heading-01 {
  font-size: min(4.977vw, 86px);
  color: #ffffff;
  margin-bottom: min(6.944vw, 120px);
}
.section-02__in .e-heading-02 h3 {
  display: flex;
  align-items: center;
  gap: 0 min(0.579vw, 10px);
}
.section-02__in .e-heading-02 h3 span {
  font-size: min(1.273vw, 22px);
  font-weight: 700;
  color: #ffffff;
}
.section-02__in .e-heading-02 h3::after {
  content: "";
  border-top: 2px solid #ffffff;
}
.section-02__in .e-heading-02 div {
  display: inline-block;
  font-size: min(0.694vw, 12px);
  line-height: 1;
  background-color: #ffffff;
  color: #594F4F;
  padding: min(0.231vw, 4px);
}
.section-02__in .e-howto {
  margin-top: min(2.315vw, 40px);
  padding: 0 min(1.157vw, 20px);
  display: flex;
  justify-content: space-between;
}
.section-02__in .e-howto > dl {
  width: min(19.097vw, 330px);
  position: relative;
}
.section-02__in .e-howto > dl .e-text {
  color: #ffffff;
  margin-top: min(4.051vw, 70px);
}
.section-02__in .e-howto > dl .e-number {
  position: absolute;
  right: min(-0.926vw, -16px);
  top: min(22.569vw, 390px);
  font-size: min(2.315vw, 40px);
  font-weight: 400;
  background-color: #F2EEB6;
  border-radius: 100px;
  width: min(4.919vw, 85px);
  height: min(4.919vw, 85px);
}

.section-02__button {
  text-align: center;
  margin-top: min(4.63vw, 80px);
}
.section-02__button a {
  background-color: #FFF000;
  color: #231F20;
  border-radius: 100px;
  width: min(25.116vw, 434px);
  height: min(5.208vw, 90px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 min(0.347vw, 6px);
  font-size: min(1.389vw, 24px);
}
.section-02__button a img {
  width: min(1.331vw, 23px);
}

/* セクション 03
-------------------------------------------------- */
.section-03 {
  background-color: #F2EEB6;
  background-image: url(./foamee-section-03-bg-02.webp);
  background-size: min(84.375vw, 1458px) auto;
  background-position: center bottom min(2.315vw, 40px);
  padding-bottom: min(56.713vw, 980px);
}

.section-03__heading-01 {
  background-image: url(./foamee-section-03-bg-01.webp);
  background-size: cover;
  height: min(35.706vw, 617px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-03__heading-01 h2 {
  color: #ffffff;
  font-size: min(4.977vw, 86px);
}

.section-03__heading-02 {
  text-align: center;
  margin: min(3.472vw, 60px) 0 min(2.315vw, 40px);
}
.section-03__heading-02 h3 {
  color: #ffffff;
  font-size: min(1.852vw, 32px);
}

.section-03__in {
  max-width: min(65.394vw, 1130px);
}

.section-03__recipe {
  margin-top: min(-5.208vw, -90px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: min(2.141vw, 37px);
}
.section-03__recipe > div {
  border-radius: min(1.157vw, 20px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-03__recipe > div .e-content {
  flex: 1;
  padding: min(2.083vw, 36px) min(1.389vw, 24px);
}
.section-03__recipe > div .e-content .m-name-en {
  font-size: min(1.505vw, 26px);
  font-weight: 600;
}
.section-03__recipe > div .e-content .m-name-ja {
  font-size: min(0.694vw, 12px);
  line-height: 1;
  background-color: #231F20;
  border-radius: min(0.231vw, 4px);
  padding: min(0.231vw, 4px) min(0.347vw, 6px);
}
.section-03__recipe > div .e-content .m-material li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 min(0.926vw, 16px);
}
.section-03__recipe > div .e-content .m-material li .s-item {
  background-image: url(./foamee-cmn-icon-02.svg);
  background-size: min(1.447vw, 25px) auto;
  padding-left: min(1.968vw, 34px);
  font-size: min(0.81vw, 14px);
}
.section-03__recipe > div .e-content .m-material li .s-amount {
  font-size: min(0.81vw, 14px);
  display: flex;
  align-items: center;
  gap: 0 min(0.463vw, 8px);
}
.section-03__recipe > div .e-content .m-material li .s-amount::before {
  content: "";
  border-top: 1px solid #231F20;
  flex: 1;
}
.section-03__recipe > div .e-img {
  height: min(16.204vw, 280px);
}
.section-03__recipe > div .e-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-03__text {
  font-size: min(0.752vw, 13px);
  font-weight: 400;
  text-align: center;
  margin-top: min(0.926vw, 16px);
}

.section-03__creator {
  display: flex;
  border-radius: min(1.157vw, 20px);
  width: min(50.926vw, 880px);
  margin-left: auto;
  margin-right: auto;
}
.section-03__creator .e-content {
  flex: 1;
  background-color: #ffffff;
  padding: min(4.051vw, 70px) min(2.315vw, 40px);
}
.section-03__creator .e-content .m-name-en {
  font-size: min(1.273vw, 22px);
  font-weight: 700;
}
.section-03__creator .e-content .m-name-ja {
  font-size: min(0.694vw, 12px);
  line-height: 1;
  background-color: #231F20;
  border-radius: min(0.231vw, 4px);
  padding: min(0.231vw, 4px) min(0.347vw, 6px);
}
.section-03__creator .e-content .m-text {
  margin-top: min(2.546vw, 44px);
}
.section-03__creator .e-content .m-text + .m-text {
  margin-top: min(1.157vw, 20px);
}
.section-03__creator .e-img {
  width: min(23.148vw, 400px);
}
.section-03__creator .e-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-03__button {
  text-align: center;
  margin-top: min(4.63vw, 80px);
}
.section-03__button a {
  background-color: #FFF000;
  color: #231F20;
  border-radius: 100px;
  width: min(25.116vw, 434px);
  height: min(5.208vw, 90px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 min(0.347vw, 6px);
  font-size: min(1.389vw, 24px);
}
.section-03__button a img {
  width: min(1.331vw, 23px);
}

/* セクション 04
-------------------------------------------------- */
.section-04 {
  background-color: #F2EEB6;
}

.section-04__in {
  width: min(77.257vw, 1335px);
  margin: 0 auto;
  padding: min(3.125vw, 54px) min(9.838vw, 170px) min(9.838vw, 170px);
  background-color: #F2E85E;
}

.section-04__heading {
  text-align: center;
  color: #ffffff;
  font-size: min(4.977vw, 86px);
}

.section-04__faq {
  margin-top: min(2.894vw, 50px);
}
.section-04__faq > dl {
  background-color: #ffffff;
  border-radius: min(0.694vw, 12px);
  padding: min(1.736vw, 30px) min(3.356vw, 58px) min(3.356vw, 58px);
}
.section-04__faq > dl > dt {
  font-size: min(1.157vw, 20px);
  background-image: url(./foamee-cmn-icon-03.svg);
  background-position: right top;
}
.section-04__faq > dl > dt span {
  font-size: min(3.241vw, 56px);
  color: #F2E85E;
  font-weight: 400;
  margin-right: min(1.736vw, 30px);
}/*# sourceMappingURL=foamee.css.map */