.site-control .menu .icon-menu .icon-menu__bar {
    position: absolute;
    left: 3px;
    width: 35px;
    height: 2px;
    background: #212121;
}

.site-control .menu .icon-menu {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 30px;
  transition: transform .5s;
}

.site-control.nav-inline-desktop .site-control__inner .nav-row a {
    padding: 0.5em 1.2em;
    display: inline-block;
    font-size: 24px;
    word-break: break-word;
  }

.site-control__inner {
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 75px;
}

@media (min-width: 768px) {
  .section-footer .section-footer__row-lower {
    flex-wrap: nowrap;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .section-footer .section-footer__row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .section-footer .section-footer__row-lower .section-footer__row__col:first-child {
    order: 1;
  }
}



.section-footer .section-footer__row-lower {
  font-size: 24px;
}




@media(min-width:768px){
  .section-footer .section-footer__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 87px;
    border-bottom: solid 1px black;
  }

  .section-footer .section-footer__lower-menu {
    margin-top: 5px;
    margin-right: 15px;
  }

  .section-footer .section-footer__lower-menu__list li {
    display: inline-block;
    list-style: none;
    margin: 0px 46px 0px 11px;
  }

  svg {
    fill: {{ col_text }};
    width: 35px;
    height: 35px;
    vertical-align: middle;
  }
}

@media(max-width:767px){
  
  .section-footer .section-footer__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 87px;
    flex-direction: column;
  }

  .footerlogo {
    margin-top:62.93px;
    margin-bottom:56.04px;
  }

  .section-footer .section-footer__lower-menu {
    margin-bottom: 26px;
    border-bottom: solid 1px black;
    width: 96vw;
  }

  .section-footer .section-footer__lower-menu__list li {
    
    list-style: none;
    margin: 0px 46px 0px 11px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 31px;
  }

  svg {
    fill: {{ col_text }};
    width: 21px;
    height: 21px;
    vertical-align: middle;
  }

  .section-footer .section-footer__row-lower {
      padding-bottom:0px; 
   }

}




  a:hover {
    border-bottom:0px solid;
  }

.section-newsletter .contact-form {
  padding:0;
  max-width:1940px;
}

.overlay-type .line-1 {
  margin-bottom:0;
}

@media (min-width: 768px) {
  .inline-mini-form.inline-mini-form--arrow:not(.mt-0) {
    margin-top:0;
  }
}

.inline-mini-form.inline-mini-form--arrow {
  margin:0;
}

.overlay-type {
  padding-left:43px;
  padding-right:0px;
}

@media (min-width: 807px) {
  button, input[type=submit], .button　{
    background-color: #000000;
    border: 1px solid #000000;
    border-bottom: 2px solid white;
    padding: 12px;
  }

  .inline-mini-form.inline-mini-form--arrow input {
    font-size:20px;
  }
}

 @media (max-width: 806px) {
    button, input[type=submit], .button　{
      padding: 12px 12px 12px 0px;
      background-color: #000000;
      border: 1px solid #000000;
      border-bottom: 2px solid white;
    }

   .inline-mini-form.inline-mini-form--arrow input {
      font-size:14px;
    }

   

   
 }



.overlay .inner > * {
  line-height: 25px;
}

.inline-mini-form.inline-mini-form--arrow {
  width:100%;
}

.site-control .site-control__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1099px) {
  
}

@media screen and (max-width: 510px) {
  .site-control .logo {
    width: 150px;
  }

  .site-control .site-control__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
  }

  .nav-right-side-custom {
    display:none;
  }

  .overlay-type { 
      padding-right:43px;
  }

  .submitinfo {
    margin-right: 0px !important;
  }
}

